@import "bootstrap";
@import "https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.1.0/css/swiper.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
// Documentation starts here
// ----------------------------------
// 1.0  =========== Variables for the website
// 2.0  =========== Mixins for the website
// 3.0  =========== Global Elements
// 4.0  =========== Typographical elements comes here
// 5.0  =========== #mainHeader
// 6.0  =========== #search-area
// 7.0  =========== .hotel-search 
// 8.0  =========== .signup
// 9.0  =========== .searchworld
// 10.0 =========== .language
// 11.0 =========== .main-banner-booking
// 12.0 =========== .booking-bar
// 13.0 =========== .blog-marquee
// 14.0 =========== .content-area
// 15.0 =========== .country-box 
// 16.0 =========== primary-footer

// 1.0
// Variables for the website
// ========================================================
$baseurl: "../media"; // base url define for accessing images directly background-image:url(#{$baseurl}/image.png);

$sprite-width: 50px; // width of sprite
$sprite-height: 50px; // height of sprite
$sprite: url(#{$baseurl}/sprite.png); // url for sprite file

$brand : #0055a4; // brand color
$secbr: #0093d0; // light blue
$gray : #545454; // secondary color for brand
$gray-light : #414141; // lighter color for gray

$radius:2px; // Border radius thorough out the site

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-Bold_0.eot'); /* IE9 Compat Modes */
  src: url('../font/FiraSans-Bold_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/FiraSans-Bold_0.woff') format('woff'), /* Modern Browsers */
       url('../font/FiraSans-Bold_0.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/FiraSans-Bold_0.svg#d4babfa527cb5ab7511dcc1e4f14ee8d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Fira Sans Light';
  src: url('../font/FiraSans-Light_0.eot'); /* IE9 Compat Modes */
  src: url('../font/FiraSans-Light_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/FiraSans-Light_0.woff') format('woff'), /* Modern Browsers */
       url('../font/FiraSans-Light_0.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/FiraSans-Light_0.svg#03be22565f59be2b180956e9e0d1566b') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Fira Sans Medium';
  src: url('../font/FiraSans-Medium_0.eot'); /* IE9 Compat Modes */
  src: url('../font/FiraSans-Medium_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/FiraSans-Medium_0.woff') format('woff'), /* Modern Browsers */
       url('../font/FiraSans-Medium_0.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/FiraSans-Medium_0.svg#d16e0971e38dfbc5bb8ef2ade8b3db6f') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-Regular_0.eot'); /* IE9 Compat Modes */
  src: url('../font/FiraSans-Regular_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/FiraSans-Regular_0.woff') format('woff'), /* Modern Browsers */
       url('../font/FiraSans-Regular_0.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/FiraSans-Regular_0.svg#2a5977486529022fbfe12a50b1109d5e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

// 2.0
// Mixins for the site
// ========================================================

// Mixin for font & 
// font weight's are 400 - regular, 600 - semibold, 700 - bold
// -------------------------------------------
@mixin fontreg(){
	font-family: 'Fira Sans', sans-serif;
	font-weight:400;
}

@mixin fontmed(){
	font-family: 'Fira Sans Medium', sans-serif;
	font-weight:400;
}

@mixin fontlig(){
	font-family: 'Fira Sans Light', sans-serif;
	font-weight:200;
}

@mixin fontbold(){
	font-family: 'Fira Sans', sans-serif;
	font-weight:700;
}

// Mixin for creating sprites
// -------------------------------------------
@mixin sprite($leftpos, $toppos){
    background-image:$sprite;
    background-repeat:no-repeat;
    //background-position-x: -($sprite-width * $leftpos);
    //background-position-y: -($sprite-height * $toppos);
    background-position:($sprite-width * -$leftpos)($sprite-height * -$toppos); 
}

// Mixin for text indent 
// -------------------------------------------
@mixin texthide(){
	text-indent:-9999px;
	overflow:hidden;
}

// 3.0 
// Global elements 
// -------------------------------------------
body {
	@include fontlig();
	color:#777;
}


.clearAll {
	clear:both;
	display:block;
}


.relative {
	position:relative;
}


figure {
	position:relative;
	img {
		position:relative;
		z-index:2;
	}
	i {
		font-size:50px !important;
		position:absolute;
		z-index:1;
		left:35%;
		top:20%;
		color:$brand;
	}
}
// 4.0 
// typographical elements comes here
// -------------------------------------------
h1, .h1 {}
h2, .h2 {
	font-size:37px; 
	color:$brand; 
	text-transform:uppercase;
	letter-spacing:1px;
	position:relative;
	margin-bottom:10px;
	padding-bottom:0;
	margin-top:40px;
}
h2 b, .h2 b, h4 b{
	color:#000;

}
h3, .h3 {}
h4, .h4 {
	color:$brand; 
	letter-spacing:1px;
	margin-bottom:30px;
	margin-top:0;
	text-transform:uppercase;
	font-size:20px;
}
h5, .h5 {}
h6, .h6 {
	color:#000;
	font-size:15px;
}

p { 
	margin-bottom:20px;
	line-height:24px;
	font-size:14px;
	color:#000;
}
a {
	@include transition(all ease 0.5s);
	cursor:pointer;
	&:hover {
		text-decoration:none;
	}
	&.simple {
		color:#000;
		@include fontmed();
		font-size:15px;
		text-transform:uppercase;
		display:inline-block;
		i {
			margin-left:10px;
		}
	}
}

.readmore {
	@include border-left-radius(5px);
	@include border-right-radius(5px);
	padding:10px 20px;
	color:#fff;
	@include fontmed();
	background-color:$brand;
	display:inline-block;
	text-transform:uppercase;
	letter-spacing:1px;
	border:2px solid rgba(255, 255, 255, 0.8);
}

.doubletitle {
	font-size:36px;
	@include fontlig();
	line-height:1em;
	margin-bottom:10px;
	text-transform:uppercase;
	color:#777777;
	padding-bottom:0;
	b {
		@include fontmed();
		display:block;
		color:$secbr;
	}
}


// Let the site Building Begin
// =========================================================
// 1.0 #main-head starts here
// -----------------------------------------
#main-head {
	padding:10px 0;
	box-shadow:0px 0px 8px #000;
	.top {
		@include clearfix();
		margin-bottom:20px;
		ul {
			margin:0 0 0 0;
			li {
				float:right;
				a {
					color:#545454;
					font-size:11px;
					padding:10px 5px;
					@include fontmed();
					text-transform:uppercase;
					&:hover {
						text-decoration:none;
						color:#000;
					}
				}
				&:last-child {
					a {
						padding : 10px 0 10px 5px;
					}
				}
			}
		}
	}
	.bottom {
		@include clearfix();
		ul {
			float:right;
			margin:0 0 0 0;
			li {
				float:left;
				a {
					text-transform:uppercase;
					padding:0 0;
					@include fontreg();
					&:after {
						content:'/';
						color:#b6b6b6;
						padding:0 20px;
					}
					&:hover {

					}
				}
				&:last-child {
					a {
						&:after {
							content:'';
							padding:0 0 ;
						}
					}
				}
			}
		}
	}
    .mobile-nav {
        background: $brand;
        display: block;
        padding: 10px 20px;
        display: none;
        margin-top: 20px;
        margin-bottom: 0px;
        span {
            background:#fff;
            height: 3px;
            width: 30px;
            margin: 0px auto 5px;
            display: block;
        }
    }
}



#nav-wrap-dropdown {
	ul{
		a{
			display:block;
		}
		li{
			position:relative;
			&:hover{
				background:transparent;
				ul{
					display:block
				}

			}
		}
		ul{
			display:none;
			position:absolute;
			top:100%;
			left:0;
			background:#fff;
			padding:0px;
			z-index: 100;
			@extend .list-unstyled;
			li{
				width:200px;
			}
			a{
				line-height:35px;
				padding:5px 10px !important;
				&:after {
					content:'' !important;
				}
				&:hover{
					background-color: #0055a4;
					color: #fff;
				}
			}
		}
	}
}



// 2.0 home-banner starts here
// -----------------------------------------
.home-banner {
	margin-bottom:40px;

	.swiper-slide {
		min-height:465px;
		.image {
			position:absolute;
			left:0;
			top:0;
			width:100%;
			z-index: -1;
			img {
				width:100%;
				height:auto;
			}
		}

		.caption {
			margin-top:14%;
			h2 {
				@include fontmed();
				color:$brand;
				font-size:40px;
				text-transform:uppercase;
				margin:0 0 0 0;
				padding:0;
			}
			h3 {
				@include fontlig();
				font-size:32px;
				color:#000;
				text-transform:uppercase;
				margin:0 0 10px 0;
				padding:0;
			}
			
		}
	}

	&.innerpage {
		margin-bottom:20px;
		.swiper-slide {
			min-height:300px;
			.caption {
				margin-top:10%;
			}
		}
	}
}

// 3.0 welcome-home starts here
// -----------------------------------------
.welcome-home {
	margin-bottom: 20px;
	h1 {
		font-size:28px;
		@include fontmed();
		color:$brand;
		text-transform:uppercase;
		margin-bottom:5px;
		margin-top:0;
		line-height:1em;
	}
	h2 {
		color:$secbr;
		margin:0 0 30px;
		font-size:20px;
		text-transform:none;
		@include fontlig();
		line-height:1em;
		padding:0 0 0 0;
	}
	p {
		color:#777777;
	}
	
}

// 4.0 services starts here
// ----------------------------------------
.services {
	margin-bottom:40px;
	ul {
		margin:0 0 0 0 ;
		li {
			float:left;
			width:19%;
			margin-right:1%;
		}
	}

	.box {
		&.main-box {
			padding:6px 15px;
			background-color:$secbr;
			.doubletitle {				
				color:#fff;
				b {
					color:#fff
				}
			}
			p {
				font-size:12px;
				color:#fff;
				@include fontlig();
			}
			
		}
		&.image-box {
			position:relative;
			img {
				width:100%;
				height:auto
			}
			.title {
				background-color:rgba($secbr, 0.8);
				padding:10px;
				color:#fff;
				margin:0 0 0 0;
				text-transform:uppercase;
				@include fontmed();
				text-align:center;
				position:absolute;
				left:0;
				bottom:0;
				width:100%;
			}
		}
	}
}

// 5.0 vessels starts here
// ---------------------------------------
.vessels {
	padding-bottom:10px;
	padding-top:40px;
	background:url(#{$baseurl}/vessels/home-bg.jpg) no-repeat center top #fff;
	p {
		color:#2f2f2f;
		font-size:15px;
		@include fontlig();
	}

	.intro {
		margin-bottom:20px;
		.doubletitle {
			margin-bottom:15px;
			line-height:1em;
			padding-bottom:0;
			margin-top:0;
		}
		.image-holder {

		}
	}

	.image-holder {
		border:4px solid #fff;
		margin-bottom:28px;
		box-shadow:0px 2px 2px #ccc;
		img {
			width:100%;
			height:auto;
		}
	}
}

// 6.0 projects starts here
// --------------------------------------
.projects {
	background-color:#fcfcfc;
	padding: 40px 0;
	.project-list {
		margin-top:20px;
		li {
			a {
				display:block;
				position:relative;
				img {
					width:100%;
					height:auto;
				}

				.info {
					background-color:rgba($secbr, 0.8);
					position:absolute;
					left:0;
					bottom:0;
					width:100%;
					padding:10px 20px;
					h4 {
						color:#fff;
						font-size:20px;
						@include fontmed();
						margin:0 0 0 0;
						padding:0 0 0 0;
						text-align:center;
					}
					p {
						text-align:center;
						margin:0 0 0 0;
						padding:0 0 0 0;
						color:#fff;
						font-size:12px;
						@include fontlig();
					}
				}
			}
		}
	}
}


// 7.0 partners starts here
// --------------------------------------
.partners {
	margin-bottom:40px;
	.container {
		position:relative;
	}
	.partner-list {
		margin-top:20px;
		li {
			a {
				display:block;
				border:1px solid #ccc;
				img {
					width:100%;
					height:auto;
				}
			}
		}
	}
	.cool {
		position:absolute;
		right:20px;
		top:60px;
		.next,
		.prev {
			font-size:40px;
			color:#ccc;
			&.swiper-button-disabled {
				cursor:not-allowed;
				opacity:0.5;
			}
		}
	}
}


// 8.0 stats starts  here
// -------------------------------------
.stats {
	background:url(#{$baseurl}/stats/home-bg.jpg) no-repeat center top ;
	padding:40px 0;
	.stat-box {
		text-align:center;
		p {
			@include fontreg();
			color:$secbr;
		}

		h3 {
			@include fontmed();
			font-size:55px;
			color:$secbr;
			margin:20px 0 5px;
			padding:0;
		}
		h4 {
			font-size:20px;
			color:$secbr;
			@include fontreg();
			margin-bottom:10px;
			margin-top:0;
			padding:0 0 0 0;
			text-transform:uppercase;
		}
		h5 {
			font-size:16px;
			color:$secbr;
			margin:0 0 0 0;
			padding:0 0 0 0;
			@include fontreg();

		}
	}
}

// 9.0 client starts here
// -------------------------------------
.clients {
	padding:60px 0;
	.doubletitle {
		margin-top:20px; 
	}
	.client-list {
		li {
			a {
				display:block;
				border:1px solid #ccc;
				cursor:pointer;
				img {
					width:100%;
					height:auto;
				}
			}
		}
	}
	.cool {
		position:absolute;
		right:0px;
		top:-50px;
		.next,
		.prev {
			font-size:40px;
			color:#ccc;
			&.swiper-button-disabled {
				cursor:not-allowed;
				opacity:0.5;			
			}
		}
	}
}


// 10.0 main-footer starts here
// ------------------------------------
#main-footer {
	border-top:1px solid #efefef;
	
	.social-footer {
		box-shadow: 0px 0px 4px #ccc;
		background-color:#fcfcfc;
		padding:25px 0 10px;
		.address {
			position:relative;
			padding-left:40px;
			.img {
				position:absolute;
				left:0;
				top:0;
			}
			h6 {
				color:#777;
				@include fontmed();
				text-transform:uppercase;
				margin:0 0 0 0;
				padding:0 0 0 0;
			}
			p {
				color:#777;
				text-transform:uppercase;
				line-height:14px;
				color:#777;
				margin:0 0 0 0;
			}
			a {
				color:$secbr;
				font-size:10px;
				text-transform:uppercase;
				@include fontmed();
			}
		}
		ul {
			float:left;
			margin:0 0 0 0;
			li {
				float:left;
				margin-right:5px;
			}
		}
		.contact {
			float:right;
			padding:7px 30px;
			font-size:12px;
			@include fontlig();
			text-transform:uppercase;
			color:#fff;
			background-color:$secbr;
			@include border-left-radius(3px);
			@include border-right-radius(3px);
		}
	}
	.below-footer {
		background-color:#efefef;
		padding:30px 0 10px;
		ul {
			float:left;
			margin:0 0 0 0;
			width:33.3333%;
			li {
				a {
					color:#777;
					font-size:11px;
					@include fontreg();
					display:block;
					padding-bottom:10px;
					text-transform:uppercase;
				}
				&:last-child {
					a {
						padding-bottom:0;
					}
				}
			}
		}
		.signup {
			h6 {
				color:#777;
				@include fontmed();
				text-transform:uppercase;
				margin-top:0;
			}
			.form-group {
				@include clearfix();
				input {
					float:left;
					border:0;
					&.form-control {
						width:70%;
						@include border-left-radius(3px);
						@include border-right-radius(0px);
						font-size:11px;
						line-height:18px;
						height:39px;
					}
					&.signup {
						width:30%;
						background-color:$secbr;
						@include border-right-radius(3px);
						@include border-left-radius(0px);
						text-transform:uppercase;
						@include fontlig();
						padding:10px 0;
						color:#fff;
					}
				}
			}
		}
	}
	.copyright-footer {
		background-color:#e4e4e4;
		padding:10px 0;
		@include clearfix();
		p {
			color:#777777;
			margin:0 0 0 0;
			@include fontreg();
			a {
				color:#f49f38;
				text-transform:uppercase;
			}
		}
	}
}


// 11.0 breadcrumb starts here
// ------------------------------------
.breadcrumb {
	background:transparent;
	padding:0;
	li {
		color:#333333;
		a {
			color:#333333;
		}
	}
}


// 12.0 fleet-list starts here
// -----------------------------------
.fleet-list {
    li {
        &:before {
            display: none !important;
        }
    }
	.fleetbox {
		border:2px #f5f5f5 solid;
		margin-bottom:30px;
		.fleet-image {
			a {
				margin-bottom:0;
				border-right:2px solid #f5f5f5;
			}
		}
		h5 {
			@include fontbold();
			text-transform:uppercase;
			color:#333;
			font-size:18px;
			padding:0;
			margin:20px 0 5px 0;
		}
		p {
			@include fontreg();
			margin-bottom:10px;
			padding-right:20px;
		}
		a {
			text-transform:uppercase;
			color:$brand;
			display:inline-block;
			margin-bottom:10px;
			@include fontmed();
			i {
				margin-left:10px;
			}
		}        
	}
}

// 13.0 .pagination starts here
// ----------------------------------
.pagination {
	margin-top:0;
	background:#e6e6e6;
	li {
        &:before {
            display: none !important;
        }
		a {
			background:transparent;
			border:0;
			@include fontmed();
			padding:12px 0px;
			color:#000;
			&:hover {
				background:transparent;
			}
			&:after {
				content:'|';
				padding-left:12px;
				margin-right:12px;
			}
		}
		&:first-child {
			a {
				padding:12px 12px;
				&:after {
					content:'';
					margin-right:0;
					padding-left:0;
				}
			}
		}
		&:last-child {
			a {
				padding:12px 12px;
				&:after {
					content:'';
					margin-right:0;
					padding-left:0;
				}
			}
		}
		&:nth-last-child(2) {
			a {
				&:after {
					content:'';
					margin-right:0;
					padding-left:0;
				}
			}
		}
		&.active {
			a {
				color:$secbr;
				background:transparent;
				&:hover {
					color:$secbr;
				}
			}
		}
	}
}

// 14.0 content-wrapper starts here
// ----------------------------------
.content-wrapper {
	.readmore {
		margin-bottom:40px;
	}

	ul {
		@include  list-unstyled;
		margin-bottom:20px;
		li {
			color:$secbr;
			text-decoration:underline;
			a {
				color:$secbr;
				text-decoration:underline;
			}
			&:before {
				content:'\f0da';
				padding-right:10px;
			    display: inline-block;
			    font: normal normal normal 14px/1 FontAwesome;
			    font-size: inherit;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			}
		}
	}
}

.address{
	h4{
		margin-bottom: 20px;
		font-weight: bold;
		color:$secbr;
	}
	p{
		line-height: 5px;
		b{
			padding-right: 15px;
		}
	}
	&.spacing{
		padding-top: 25px;
	}
}



// google map API
// --------------------------------
.location-map{
	margin: 40px 0px;
	width: 100%;
}

#map_canvas {
  z-index: 0;
  position: relative !important;
  width: 100%;
  height: 426px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}


// 15.0 box-title starts here
// --------------------------------
.box-title {
	display:block;
	position:relative;
	img {
		width:100%;
		height:auto;
	}
	.info {
		background-color:rgba($secbr, 0.8);
		position:absolute;
		left:0;
		bottom:0;
		width:100%;
		padding:10px 20px;
		h4 {
			color:#fff;
			font-size:20px;
			@include fontmed();
			margin:0 0 0 0;
			padding:0 0 0 0;
			text-align:center;
		}
		p {
			text-align:center;
			margin:0 0 0 0;
			padding:0 0 0 0;
			color:#fff;
			font-size:12px;
			@include fontlig();
		}
	}
}

// 16.0 other-vessel starts here
// --------------------------------
.other-vessel {
	margin-bottom:40px;
	background:#f0f0f0;
	padding-bottom:40px;
	.box-title {
		.info {
			h4 {
				font-size:14px;
			}
		}
	}
	.next {
		font-size:80px;
		color:#fff;
		position:absolute;
		right:20px;
		top:30%;
		cursor:pointer;
		z-index: 1;
	}
	.prev {
		font-size:80px;
		color:#fff;
		position:absolute;
		left:20px;
		top:30%;
		z-index: 1;
		cursor:pointer;
	}
}

// 17.0 inquiries starts here
// -------------------------------
.inquiries {
	margin-bottom:40px;
	.form-group {
		.form-control {
			@include border-left-radius(0);
			@include border-right-radius(0px);
			border-color:$secbr;
			padding:10px;
			
			line-height:2.42857;
			@include fontreg();
			color:$secbr;

			
		}
		input {
			height:42px;
		}
		::-webkit-input-placeholder {
		   color:$secbr;
		}

		:-moz-placeholder { /* Firefox 18- */
		  color:$secbr;
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color:$secbr;
		}

		:-ms-input-placeholder {  
		   color:$secbr;
		}

	}
	.readmore {
		float:right;
		padding:10px 50px;
		@include border-left-radius(0);
		@include border-right-radius(0);
		background-color:$secbr;
	}

}


// 18.0 fleet-thumb starts here
// --------------------------------
.fleet-thumb {
	img {
		width:100%;
		height:auto;
	}
}

// 19.0 about-box starts here
// -------------------------------
.about-box {
	background:#f8f8f8;
	padding:20px;
	position:relative;
	border:1px solid #ccc;
	overflow:hidden;
	margin-bottom:40px;
	p {
		font-size:15px;
	}
	span {
		font-size:135px;
		position:absolute;
		right:-40px;
		top:-40px;
		color:#b9b9b9;
	}
}


// 20.0 team-box starts here
// ------------------------------
.team-box {
	border:1px solid #ccc;
	padding:40px;
	margin-bottom:30px;
	.team-thumb {
		position:relative;
		height:189px;
		width:189px;
		margin-bottom:20px;
		.first {
			position:absolute;
			left:0;
			top:0;
			width:100%;
			z-index: 1;
		}

		.second {
			img{
				width:100%;
				height:100%;
			}
		}
	}
	h4 {
		margin:0 0 0 0;
		padding:0 0 10px 0;
		margin-bottom:5px;
		border-bottom:1px solid #000;
		@include fontmed();
		text-transform:uppercase;
		text-align:center;
		color:#000;
		font-size:16px;
	}
	h5 {
		@include fontreg();
		color:#000;
		margin:0 0 0 0;
		padding:0 0 0 0;
		font-size:16px;
		text-transform:inherit;
		text-align:center;
		a {
			color:#000;
		}
	}
}

// 21.0 servicelist starts here
// ------------------------------
.servicelist {
	.box-title {
		margin-bottom:30px;
	}
}

// Additional files for running the project
// =======================================================

@import "tablet-portrait";
@import "tablet-landscape";
@import "mobile";